            <h3>{{title}}</h3>
            <div class="img-holder"><img src="{{image}}" alt="{{title}}"></div>
            <p><em>Description: </em>{{description}}</p>
            <p><em>Responsibilities: </em>{{responsibilities}}</p>
            <p><em>Keywords:</em></p>
            <ul class="keyword-list">{{#each keywords}}
                <li class="keywords">{{this}} </li>{{/each}}
            </ul>